<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ai.elimu.appstore">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <permission android:name="${applicationId}.provider.READ" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="${applicationId}.provider.application_provider"
            android:name=".provider.ApplicationProvider"
            android:exported="true"
            android:readPermission="${applicationId}.provider.READ" />
    </application>
</manifest>
